# Example dotenv file for frontend app container

# BACKEND_URL=http://host.docker.internal:8000 # If individually running the container
BACKEND_URL=http://backend-main:8000 # If container runtime through docker compose orchestration
