# Example environment variable values for backend Docker container runtimes

# Indexing
CHUNKING_MODEL_ID=amazon.titan-embed-text-v2:0
SQS_BM25_UPDATE_QUEUE_URL=https://sqs.<aws-region>.amazonaws.com/<aws-account-id>/<bm25-update-queue-name>

# Retrieval
BM25_POLL_INTERVAL_SECONDS=5
ENABLE_SPELL_CORRECTION=True
BASE_ENGLISH_LEXICON_PATH=src/retrieval/data/base_english_lexicon.json
MIN_COSINE_THRESHOLD=0.30
RERANKER_BASE_URL=http://host.docker.internal:8080/
# RERANKER_BASE_URL=http://reranker:8080/

# Chat
GENERATOR_MODEL_ID=<bedrock-generator-model-or-inference-profile-id>
GENERATOR_MODEL_TEMPERATURE=0.3

# Shared
AWS_SSO_PROFILE=<local-aws-profile-name>
AWS_SSO_REGION=<aws-region>
S3_GP_BUCKET_NAME=<general-purpose-s3-bucket-name>
S3_GP_RAW_PREFIX=raws
S3_GP_CHUNK_PREFIX=chunks
S3_VECTOR_BUCKET_NAME=<s3-vector-bucket-name>
S3_VECTOR_INDEX_NAME=<s3-vector-index-name>
DYNAMODB_MANIFEST_TABLE_NAME=<manifest-table-name>
DYNAMODB_CORPUS_CHANGE_TABLE_NAME=<corpus-change-table-name>
DYNAMODB_COLLECTION_TERM_STATS_TABLE_NAME=<collection-term-stats-table-name>
DYNAMODB_DOC_TERM_STATS_TABLE_NAME=<doc-term-stats-table-name>
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
BM25_POINTER_KEY=bm25/pointer.json
BM25_SNAPSHOT_KEY=bm25/snapshot.json
