boto3
pydantic
pydantic-settings
fastapi
python-multipart
numpy
pypdf
python-docx
langchain-core
langchain-community
langchain-experimental
langchain-text-splitters
langchain-aws
rank_bm25
uvicorn
python-Levenshtein
nltk
httpx
sentence-transformers
